* {
  all: unset;
}

$background: #0c0d1a;
$black: #0c0d1a;
$focus: #ffb3a3;
$text: #ffece6;
$hover: #9591b9;
$busy: #716f9a;

* {
  font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Noto Sans Mono', 'JetBrains Mono', 'Liberation Mono', monospace;
  font-size: 16px;
  font-weight: 500;
}

.border {
  border: solid 4px $text;
  border-left: none;
}

.bar {
  @extend .border;
  background-color: $background;
  padding: 2px;
  margin: 2px;
  color: $text
}

.workspace {
  border: solid 2px $text;
  margin: 2px;
}

.workspace:hover {
  background-color: $hover;
}

.workspace-busy {
  @extend .workspace;
  background-color: $busy;
}

.workspace-focused {
  @extend .workspace;
  border-color: $focus;
}

.bottom-bar-hover:hover {
  background-color: $hover;
}

.calendar-window {
  background-color: $background;
  border: solid 4px $text;
}

calendar {
  color: $text;
}

calendar:selected {
  color: $focus;
}

calendar:indeterminate {
  color: rgba($text, 0.5);
}

.volume-mixer-window {
  background-color: $background;
  border: solid 4px $text;
  padding: 16px 8px 4px 0px;
}

.mixer-row {
  padding: 8px;
}

.mixer-name {
  color: $text;
}

.mixer-scale {
  min-height: 150px;
  min-width: 16px;
  padding-bottom: 16px;
}

.mixer-scale trough {
  background-color: #1e203a;
}

.mixer-scale highlight {
  background-color: $hover;
}

.mixer-scale slider {
  background-color: $text;
  min-width: 12px;
  min-height: 12px;
}