#![enable(implicit_some)]
(
        border_width: 4,
        margin: 2,
        workspace_margin: 0,
        default_border_color: "#ffece6",
        focused_border_color: "#ffb3a3",
        background_color: "#031100"
)
